@{
    Layout = null;

    List<JianTongBLL.NormalConfig> list = ViewBag.List as List<JianTongBLL.NormalConfig>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DataTables | Gentelella</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <style type="text/css">
        a {
            position: relative;
            line-height: 20px;
            max-height: 40px;
            overflow: hidden;
        }

            a::after {
                content: "...";
                position: absolute;
                bottom: 0;
                right: 0;
                padding-left: 40px;
                background: -webkit-linear-gradient(left,  transparent,   #fff 55%);
                background: -o-linear-gradient(right,  transparent,   #fff 55%);
                background: -moz-linear-gradient(right,  transparent,   #fff 55%);
                background: linear-gradient(to right,  transparent,   #fff 55%);
            }
    </style>
</head>

<body class="nav-md">
    <form id="form1" method="post" name=" form1">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">

                        <div class="clearfix"></div>

                        <!-- sidebar menu -->
                        @Html.Action("SideMenu", "Home", new { pageName = ViewContext.RouteData.Values["controller"].ToString() })
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->

                @Html.Action("TopNavigation", "Home", new { pageName = ViewContext.RouteData.Values["controller"].ToString() })
                <!-- /top navigation -->
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">

                            <div>
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group ">
                                    <div class="input-group" >
                                        <select class="form-control" id="nType" name="nType">
                                            <option id="1" value="1" @Html.Raw(ViewBag.nType == "1" ? "selected='selected'" : "")>咨询费用</option>
                                            <option id="2" value="2" @Html.Raw(ViewBag.nType == "2" ? "selected='selected'" : "")>项目概况</option>
                                            <option id="3" value="3" @Html.Raw(ViewBag.nType == "3" ? "selected='selected'" : "")>业主要求</option>
                                            <option id="4" value="4" @Html.Raw(ViewBag.nType == "4" ? "selected='selected'" : "")>咨询范围、咨询目标</option>
                                            <option id="5" value="5" @Html.Raw(ViewBag.nType == "5" ? "selected='selected'" : "")>委托单位交代事项（咨询要求）</option>
                                            <option id="6" value="6" @Html.Raw(ViewBag.nType == "6" ? "selected='selected'" : "")>咨询操作中需要注意的重点、难点 </option>
                                            <option id="7" value="7" @Html.Raw(ViewBag.nType == "7" ? "selected='selected'" : "")>实施方案编制依据</option>
                                            <option id="8" value="8" @Html.Raw(ViewBag.nType == "8" ? "selected='selected'" : "")>咨询依据、原则、标准、方式（咨询要求）</option>
                                            <option id="9" value="9" @Html.Raw(ViewBag.nType == "9" ? "selected='selected'" : "")>项目实施计划安排</option>
                                            <option id="10" value="10" @Html.Raw(ViewBag.nType == "10" ? "selected='selected'" : "")>咨询质量目标</option>
                                            <option id="11" value="11" @Html.Raw(ViewBag.nType == "11" ? "selected='selected'" : "")>咨询操作过程中重点、难点的具体实施措施</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="pageSubmit()">查询</button>
                                        </span>

                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" onclick="addNewNormalConfig()">添加</button>
                                            </span>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr class="headings">
                                                    <th class="column-title">配置内容 </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (list != null && list.Count() > 0)
                                                {
                                                    foreach (JianTongBLL.NormalConfig workInfoClass in list)
                                                    {
                                                        //JianTongBLL.JianTongUserClass CreateUser = JianTongFun.EntityFun.CreateInstance.GetTByIntId<JianTongBLL.JianTongUserClass>(workInfoClass.UserId);
                                                        <tr class="even pointer">
                                                            <td class=" ">
                                                                <a href="../WorkManager/AddOrUpdateNormalConfig?nId=@workInfoClass.Id" style="text-decoration: underline; text-align: center;">@workInfoClass.Name</a>
                                                            </td>
                                                            
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <!-- /footer content -->
            </div>
        </div>
    </form>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script src="../Scripts/WdatePicker.js"></script>
    <script type="text/javascript">
        function pageSubmit() {
            $("#form1").submit();
        }

        function addNewNormalConfig() {
            window.location.href = "../WorkManager/AddOrUpdateNormalConfig";
        }
    </script>
</body>
</html>